/* CSS Document */
body{
	margin:0px;
	padding:0px;
	background-color:#161821;
	font-family:sans-serif;
	background-image:url(../images/shadow.png);
	background-attachment:fixed;
	background-size:cover;
	background-repeat:no-repeat;
	}

header{
    justify-content: flex-end;
    align-items: center;
    padding: 30px  10%;
}
		
.menu-right{
float:right;		
}			
.menu-left{
float:left;
margin:10px 40px;
}
				

.menu ul{
margin:0px;
display:inline-flex;
}

.menu ul li{
list-style:none;
}
							
.menu-left ul li a{
    display: flex;
    margin: 10px 25px;
    text-decoration: none;
    font-weight: 200;
    color:orange;
    font-size:12px;
    padding:10px 25px;
}
.search-box{
    height: 18px;
    padding: 10px;
    margin-right: -50px;
    border-bottom: 1px solid #FFFFFF;
    background-color: transparent;
    border-radius:5px;
}
				
.search-text{								
width:170px;
background-color:transparent;
border:none;
text-align:center;
outline:none;
color:#FFFFFF;
}
									
.swiper-slide{
display:center;
align-items:center;
box-sizing:border-box;
}
								
.slide-box{
margin:40px;		
display:inline-flex;
flex-wrap:1;
justify-content:space-between;}
		
							
.slider-text{
flex-basis:400px;
color:#FFFFFF;
}	
				
.slider-text p{
color:rgba(110,105,105,1.00);
line-height:20px;}	
							
h6{
font-size:15px;
word-spacing:5px;
line-height:20px;
color:#DC721F;
flex-wrap:wrap;
    margin-top: -10px;
}

h2{
font-size:50px;
word-spacing:-2px;}
	
.slider-img{
height:450px;
}

.slider-img img{
max-height:100%;
max-width:100%;
align-items: flex-end;
}

.catagories{
display:flex;
}
		
.categories select{
width:90px;
height:40px;
border:2px solid #828282;
box-sizing:border-box;
background-color:transparent;
color:#FFFFFF;
outline:none;
margin-right:20px;
margin-left:0px;
}

.categories option{
color:#000000;
}
		
.categories a{
font-size:20px;
justify-content:center;
font-weight:550;
text-decoration:none;
width:90px;
box-sizing:border-box;
height:40px;
color:#DC721F;
border:2px solid #DC721F;
display:inline-flex;
align-items:center;
}
		
.cart{						
position:absolute;
bottom: 0;
right: 0;
display:flex;
justify-content:center;
align-items:center;
width:200px;
height:50px;
background-color:rgba(54,53,53,0.50);
border:1px solid rgba(54,53,53,0.70);
}
						
.cart a{
text-decoration:none;
color:#DC721F;
}	

.cart:hover{						
background-color:rgba(203,96,23,1.00);
box-shadow:3px 3px 12px rgba(183,180,180,0.20);
transition:all ease 0.5s;							
}		
							
.cart:hover a{
color:#FFFFFF;
									
}	
									
.shoes-logo img{									
position:absolute ;
left:70px;
bottom:5px ;
height:35px;
}

li,a{
    font-family: "Montserrat",sans-serif;
    font-weight: 500;
    font-size: 12px;
    color:#FFFFFF;
    text-decoration: none;
    transition: all ease .3s;
}
li,a:hover{
    color:orange;
}
header{
    justify-content: flex-end;
    align-items: center;
    padding: 30px  10%;
}
.logo{
    cursor: pointer;
    float: left;
    height: 50px;
    padding: 0px 8px;
    margin-left: -80px;
    background-color: orange;
    
}
.nav_links{
    list-style: none;
    padding: 0 0 0 80px
}

.nav_links li{
    display: inline-block;
    padding: 0 20px;
}
										
			
		
			

